---
layout: base.njk
title: O fundacji
nav: fundacja
wstep: Fundację MAMY DOŚĆ założyliśmy po latach sporu z administracją skarbową, który zaczął się od kontroli podatkowej w 2018 r. Z jednej sprawy zostały setki pism, dziesiątki wyroków i wiedza, którą chcemy się dzielić.
okruszki: [{ t: "O fundacji" }]
---
{% include "naglowek.njk" %}
<div class="wrap sec" style="padding-top:40px">
  <div class="rules">
    <div class="rule"><b>Non-profit</b><p>Nie zarabiamy na sprawach, które opisujemy. Nie pobieramy opłat od osób, które przekazują dokumenty.</p></div>
    <div class="rule"><b>Zero polityki</b><p>Nie wspieramy partii ani kandydatów. Oceniamy działanie urzędów i sądów, nie poglądy ludzi.</p></div>
    <div class="rule"><b>Pełna jawność</b><p>Publikujemy pisma, które wysyłamy, i odpowiedzi, które dostajemy. Także te, w których nie mamy racji.</p></div>
  </div>
  <div class="prose" style="margin-top:48px">
    <h2>Jak pracujemy</h2>
    <p>Każde nasze pismo ma sygnaturę i trafia do <a href="/akta/">Akt spraw</a> razem z odpowiedzią urzędu i licznikiem terminu. Każdy tekst opieramy na dokumentach, które można sprawdzić pod sygnaturą lub znakiem pisma.</p>
    <p>Piszemy otwarcie, gdy fundacja wspiera stronę opisywanej sprawy albo gdy pełnomocnikiem jest prezes fundacji.</p>
    <p>Nazwiska podajemy tylko przy czynnościach urzędowych potwierdzonych dokumentami i tylko w zakresie pełnienia funkcji publicznych. Danych osób prywatnych nie publikujemy.</p>
  </div>
</div>
