---
layout: base.njk
title: Nie ma takiej strony
permalink: /404.html
wstep: Adres mógł się zmienić albo w sygnaturze jest literówka. Sygnatury wpisuj tak jak w piśmie, np. MD/WNS/2026/001.
okruszki: [{ t: "Błąd 404" }]
---
{% include "naglowek.njk" %}
<div class="wrap sec" style="padding-top:36px"><div class="btns"><a class="btn red" href="/akta/">Szukaj w Aktach spraw</a><a class="btn line" href="/">Strona główna</a></div></div>
